@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  @layer base {
		body {
			@apply dark:bg-zinc-900 bg-white
		}
	}
}



.dashboard {
  margin-left: 16.5rem;
  margin-right: 00.5rem;
}

/* .account {
  margin: 100px auto;
} */

#tsparticles {
  position: relative;
  z-index: -1;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 30px;
}
.embla__slide {
  flex: 0 0 30%;
  min-width: 0;
  
}

.embla__slide__img {
  margin-bottom: 1rem;
}

.embla__container {
  margin-left: 1rem;
  margin-right: 1.5rem;
}